*.tex linguist-vendored
*.sty linguist-vendored
*.cls linguist-vendored
*.bib linguist-vendored
*.log linguist-generated
*.aux linguist-generated
*.toc linguist-generated
*.out linguist-generated
*.lof linguist-generated
*.lot linguist-generated
*.fls linguist-generated
*.fdb_latexmk linguist-generated
*.synctex.gz linguist-generated
*.bbl linguist-generated
*.blg linguist-generated
*.brf linguist-generated
*.nav linguist-generated
*.snm linguist-generated
*.vrb linguist-generated
*.xdv linguist-generated
*.pdf linguist-generated
*.dvi linguist-generated